<!DOCTYPE html>
<html>
    <head>
        <title>Student Grade Tracker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/account_page/style.css">
        <link rel="stylesheet" href="css/components/nav.css">
    </head>
    <body>
        <nav id="nav">
            <img src="uploads/gc_logo.png" alt="Gordon College Logo">
            <p id="username">N/A</p>
            <ul>
                <li><button id="homeNav">Home</button></li>
                <li><button id="studentsNav">Students</button></li>
                <li><button id="subjectsNav">Subjects</button></li>
                <li><button id="gradesNav">Grades</button></li>
                <li><button class="active" id="accountNav">Account</button></li>
                <li><button class="logOut" id="logOutNav">Log Out</button></li>
            </ul>
        </nav>
        <main>
            <div class="top">
                <button class="menu_img" id="navToggleBtn">
                    <img src="uploads/menu.png" id="navImg">
                </button>
            </div>
            <div class="header">
                <h4 id="name">Account Management System.</h4>
            </div>
            <div class="content_container">
                <button id="editBtn">Edit Account</button>
                <p id="userID">UserID</p>
                <p id="lastName">LAST NAME</p>
                <p id="firstName">FIRST NAME</p>
                <p id="middleName">MIDDLE NAME</p>
                <button id="changePw">Change Password</button>
                <div id="changePwInput"></div>
            </div>
        </main>
        <script src="js/components/security.js"></script>
        <script src="js/components/nav.js"></script>
        <script src="js/pages/accountPage.js"></script>
    </body>
</html>