<!DOCTYPE html>
<html>
    <head>
        <title>Student Grade Tracker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/home_page/style.css">
        <link rel="stylesheet" href="css/components/nav.css">
    </head>
    <body>
        <nav class="hide">
            <img src="uploads/gc_logo.png" alt="Gordon College Logo">
            <p id="username">N/A</p>
            <ul>
                <li><button class="active">Home</button></li>
                <li><button>Students</button></li>
                <li><button>Subjects</button></li>
                <li><button>Grades</button></li>
                <li><button>Account</button></li>
                <li><button class="logOut">Log Out</button></li>
            </ul>
        </nav>
        <main>
            <div class="top">
            </div>
            <div class="header">
                <h4 id="name">N/A</h4>
            </div>
            <div class="content_container">
                <div class="content">
                    <div class="content_cards">
                    <p>Total number of students.</p>
                    <p id="totalStudents">N/A</p>
                </div>
                <div class="content_cards">
                    <p>Total number of subjects.</p>
                    <p id="totalSubjects">N/A</p>
                </div>
                <div class="content_cards">
                    <p>Number of students passing.</p>
                    <p>N/A</p>
                </div>
                <div class="content_cards">
                    <p>Number of students failing.</p>
                    <p>N/A</p>
                </div>
            </div>
        </main>

        <script src="js/components/security.js"></script>
        <script src="js/ui/homePage.js"></script>
    </body>
</html>