<!--

- AUTHENTICATION PAGE -
: De Luna, Jay Lawrence S.

-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/authentication_page/style.css">
    </head>
    <body>
        <main>
            <img src="uploads/gc_logo.png" alt="Gordon College - Seal">
            <h1>STUDENT GRADE TRACKER</h1>
            <form class="log_in_form" id="logInForm">
                <div class="auth_input">
                    <input
                        type="text"
                        name="user"
                        id="logInUser"
                        required
                        >
                    <label for="logInUser">USERNAME:</label>
                </div>
                <div class="auth_input">
                    <input
                        type="password"
                        name="pw"
                        id="logInPw"
                        required
                        >
                    <label for="logInPw">PASSWORD:</label>
                </div>
                <button class="animated_btn" type="submit">LOG IN</button>
            </form>
            <p>No account? <a id="modal_trigger">Create an account here.</a></p>
        </main>
        <div class="side_bg"></div>
        <div class="modal" id="modal">
            <div class="modal_bg"></div>
            <div class="modal_content">
                <button class="modal_return" id="modal_return">GO BACK</button>
                <form class="sign_up_form" id="signUpForm">
                    <div class="su_form">
                        <div class="auth_input">
                            <input
                                type="text"
                                name="su_last_name"
                                id="suLastName"
                                required
                                >
                            <label for="suLastName">LAST NAME:</label>
                        </div>
                        <div class="auth_input">
                            <input
                                type="text"
                                name="su_first_name"
                                id="suFirstName"
                                required
                                >
                            <label for="suFirstName">FIRST NAME:</label>
                        </div>
                        <div class="auth_input">
                            <input
                                type="text"
                                name="su_middle_name"
                                id="suMiddleName"
                                >
                            <label for="suMiddleName">MIDDLE NAME:</label>
                        </div>
                        <div class="auth_input">
                            <input
                                type="text"
                                name="su_user_name"
                                id="suUsername"
                                required
                                >
                            <label for="suUsername">USERNAME:</label>
                        </div>
                        <div class="auth_input">
                            <input
                                type="password"
                                name="su_pw"
                                id="suPw"
                                required
                                >
                            <label for="suPw">PASSWORD:</label>
                        </div>
                        <div class="auth_input">
                            <input
                                type="password"
                                name="su_confirm_pw"
                                id="suConfirmPw"
                                required
                                >
                            <label for="suConfirmPw">CONFIRM PASSWORD:</label>
                        </div>
                    </div>
                    <button class="animated_btn" type="submit">CREATE AN ACCOUNT</button>
                </form>
                <p>In signing up, you give us permission to collect personal information that includes your name.</p>
            </div>
        </div>

        <div class="notification" id="notification">
            <h6 class="notif_title" id="notifTitle">Notification.</h6>
            <p class="notif_msg" id="notifMsg"></p>
            <p class="http_code" id="notifCode"></p>
        </div>

        <script src="js/ui/authPage.js"></script>
        <script src="js/auth/script.js"></script>
    </body>
</html>