<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Grade Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/subjectEnrolledPage/style.css">
    <link rel="stylesheet" href="/css/components/nav.css">
</head>
<body>
    <nav id="nav">
        <img src="/uploads/gc_logo.png" alt="Gordon College Logo">
        <p id="username">N/A</p>
        <ul>
            <li><button id="homeNav">Home</button></li>
            <li><button id="studentsNav">Students</button></li>
            <li><button class="active" id="subjectsNav">Subjects</button></li>
            <li><button id="gradesNav">Grades</button></li>
            <li><button id="accountNav">Account</button></li>
            <li><button class="logOut" id="logOutNav">Log Out</button></li>
        </ul>
    </nav>
    <main>
        <div class="top">
            <button class="menu_img" id="navToggleBtn">
                <img src="/uploads/menu.png" id="navImg">
            </button>
        </div>
        <div class="header">
            <h4 id="name"></h4>
        </div>
        <div class="content_container">
            <div id="content_header">
                <button id="editBtn">Edit Mode</button>
            </div>
            <div id="displayEnrolledStudents"></div>
        </div>
    </main>
    <script src="/js/components/security.js"></script>
    <script src="/js/components/nav.js"></script>
<script src="/js/pages/subjectGradesPage.js"></script>
</body>
</html>